[submodule "OfType"]
	path = OfType
	url = https://github.com/ExtendType/OfType.git
[submodule "OfString"]
	path = OfString
	url = https://github.com/ExtendType/OfString.git
[submodule "OfObject"]
	path = OfObject
	url = https://github.com/ExtendType/OfObject.git
[submodule "OfDateTime"]
	path = OfDateTime
	url = https://github.com/ExtendType/OfDateTime.git	
[submodule "OfCollection"]
	path = OfCollection
	url = https://github.com/ExtendType/OfCollection.git
[submodule "WithLogging"]
	path = WithLogging
	url = https://github.com/ExtendType/WithLogging.git
